//  SLIDER NAME TEXT FIELD
//----------------------------------------------------------------

.ls-slide-preview-tooltip {

	padding: 5px !important;

	&, .inner {
		width: 200px !important;
		height: 100px !important;
	}

	div {
		width: 200px;
		height: 100px;
		overflow: hidden;
		background-size: cover;

		img {
			width: 100%;
		}
	}

}

.ls-slider-titlewrap {
	position: relative;

	input {
		width: 100%;
		height: 38px;
		padding: 0 350px 0 10px;
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		font-size: 22px;
		line-height: 36px;
		border-radius: 3px;

		&:focus {
			border-color: #ddd !important;
			box-shadow: inset 0 1px 2px rgba(0,0,0,.07) !important;
		}
	}

	.ls-slider-slug {
		width: 350px;
		height: 38px;
		position: absolute;
		top: 0px;
		right: 0;
		border-left: 1px solid #DDD;
		text-align: right;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 38px;
		color: #666;

		input {
			width: 250px;
			float: right;
			border: 0;
			padding: 0 10px;
			margin-left: 5px;
			background: transparent;
			box-shadow: none;
			font-family: 'Open Sans', sans-serif;
			font-size: 18px;
			line-height: 36px;
		}
	}
}

.ls-slider-settings {
	margin-top: 10px;

	.header input {
		width: 200px;
		height: 24px;
		padding: 0 10px;
		margin: 7px -3px 0 0;
		border: 1px solid #dedede;
		float: right;
		border-radius: 12px;
		font-weight: normal;
		box-shadow: inset 1px 1px 1px #bbb;

		&:focus {
			border: 1px solid #aaa;
		}
	}

	th {
		height: 20px;
		padding: 0 0 0 30px;
		font-size: 12px;
		line-height: 20px;
		color: #666;
		background: #f7f7f7;
		font-weight: normal;

		&.half {
			padding-left: 0 !important;
			width: 50% !important;
			text-align: center !important;
		}
	}

	td {
		background: none !important;

		&.half {
			width: 50% !important;
			font-size: 20px !important;
			text-align: center !important;
			position: relative;
			vertical-align: top;

			&:first-child {
				border-right: 1px solid #dedede;
			}

			label {
				display: none;
				position: absolute;
				top: 55px;
				width: 250px;
				font-size: 11px !important;
				color: #666;
				text-align: left;
				cursor: default;

				&.error span {
					color: red;
				}

				span {
					float: right;
				}
			}
		}

		&.hero {
			text-align: left !important;
			padding-left: 30px !important;
		}
	}

	input {
		border-radius: 3px;
	}

	.inner {
		min-height: 491px;
		position: relative;
		padding: 0;
	}

	span {
		color: #777;
		font-weight: 600;
	}

	textarea {
		width: 100%;
		height: 42px;
		resize: vertical;
	}
}

.ls-slider-settings-advanced {
	float: right;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	color: #777;

}

.ls-slider-settings-advanced .ls-checkbox {
	margin: -2px 0 0 10px;
	vertical-align: middle;
}

.ls-settings-contents {
	padding-left: 230px;

	input, select {
		width: 150px;
	}

	tbody {
		display: none;

		&.active {
			display: table-row-group;
		}
	}
}

.ls-advanced,
.ls-premium,
.ls-advanced div,
.ls-premium div {
	position: relative;
}

.ls-advanced i.dashicons {
	position: absolute;
	top: 2px;
	left: 5px;
	font-size: 12px;
	color: #bbb;
}


.ls-premium a.dashicons {
	position: absolute;
	top: 0px;
	left: 5px;
	font-size: 16px;
	color: #999 !important;
}

.ls-layout-popup-notice {
	padding: 10px !important;
	text-align: center !important;

	a {
		margin-top: 10px !important;
	}
}

$width: 160px;
$height: $width / 16 * 9;

.ls-layout-illustration {
	width: $width;
	margin: 0 $width / 8 $height / 1.5 $width / 8;
	position: relative;
	perspective: 50px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 25px;
		background: #ddd;
		display: block;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 100%;
		margin-top: 25px;
		width: $width / 4;
		margin-left: -$width / 8;
		height: 15px;
		background: #ccc;
		z-index: -1;
	}

	.ls-layout-illustration-inner {
		height: $height;
		// padding-bottom: 56.25%;
		border: 7px solid #999;
		border-radius: 8px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 100%;
			margin-top: 47px;
			width:  ( $width / 4 ) + 4;
			margin-left: -( $width / 8 + 2 );
			height: 3px;
			background: #aaa;
			border-radius: 10px;
			border-top: 1px solid #ddd;
		}
	}
}

.ls-popup-layout-example {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	box-sizing: border-box;

	.ls-popup-layout-padding {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.ls-popup-layout-inner {
			position: absolute;
			background: #ccc;
			border: 1px solid #c7c7c7;
			box-sizing: border-box;
			width: ceil($width / 4);
			height: ceil($height / 4);
			border-radius: 3px;

			&.ls-popup-fitwidth {
				width: 100%;
				left: 0 !important;
				margin-left: 0 !important;

			}

			&.ls-popup-fitheight {
				height: 100%;
				top: 0 !important;
				margin-top: 0 !important;
			}

			&.ls-popup-top {
				top: 0;
			}

			&.ls-popup-bottom {
				bottom: 0;
			}

			&.ls-popup-left {
				left: 0;
			}

			&.ls-popup-right {
				right: 0;
			}

			&.ls-popup-center {
				left: 50%;
				margin-left: floor( -$width / 8 );
			}

			&.ls-popup-middle {
				top: 50%;
				margin-top: floor( -$height / 8 );
			}

			&.ls-popup-fitwidth.ls-popup-fitheight {
				width: 100%;
				height: 100%;
				margin: 0 !important;
			}
		}
	}
}

#ls-popup-presets-modal-window .km-ui-modal-scrollable {

	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
	}

	td {
		width: 25%;
		padding: 0;
		text-align: center;
	}

	.ls-layout-illustration-grid {
		border-radius: 10px;
		position: relative;
		opacity: .65;
		transition: all 0.3s ease-in-out;
		padding-bottom: 20px;
		display: inline-block;

		&.ls-layout-centered {
			float: none;
		}

		&:hover {
			cursor: pointer;
		}

		&.active {
			cursor: default !important;
		}

		&:hover,
		&.active {
			opacity: 1;
		}

		h3 {
			text-align: center;
			font-weight: 400;
			font-size: 16px;
			margin-top: -5px;
			margin-bottom: 0;
		}
	}
}





.ls-settings-popup {

	.ls-hidden {
		display: none !important;
	}

	.ls-notification {
		padding: 10px 10px 10px 40px !important;
		width: auto;
		margin: 10px 30px;
		box-sizing: border-box;
		text-align: left;
		font-size: 13px;

		&.info {
			background-color: #00b4ff;
			border: 0 !important;
		}

		.dashicons {
			position: absolute;
			top: 7px;
			left: 7px;
			font-size: 24px;
		}
	}

	.ls-popup-target > span {
		display: inline-block;
		width: 145px;
		line-height: 30px;
		font-weight: normal;
		color: #222;
	}

	td.ls-spacer-bottom {
		padding-bottom: 10px !important;
	}

	td.ls-spacer-top {
		padding-top: 10px !important;
	}

	td:first-child {
		width: 220px !important;
	}

	.ls-description {
		padding: 5px 10px 5px 10px;
		text-align: justify;
		color: #555;
		font-size: 13px;
	}

	.ls-checkbox {
		margin-left: 2px;
	}

	td:first-child .ls-checkbox {
		float: left;
		margin-left: 26px;
	}

	.mini {
		width: 50px;
	}

	.center {
		text-align: center !important;
	}

	.ls-notification-info {
		margin: 15px auto;
		text-align: left;
	}

	button.ls-popup-preview-button {
		width: auto;
		margin-left: 2px;
		vertical-align: middle;

	}

	.button .dashicons {
		font-size: 18px;
		margin-right: 5px;
		line-height: 25px;
		vertical-align: top;
	}

	.ls-checkbox {
		margin-left: 10px;
		margin-bottom: -4px;
	}

	.ls-popup-include-pages,
	.ls-popup-include-custom-pages,
	.ls-popup-exclude-pages {

		 td:last-child {
		 	padding-right: 6px;
		 }

		 input {
		 	width: 100%;
		 }

		 span {
		 	color: inherit;
		 	font-weight: normal;
		 }
	}

	.ls-popup-appearance {
		padding: 0;

		tbody {
			display: table-row-group;
		}

		th {
			text-align: center;
			padding-left: 0;
		}

		.ls-popup-position {
			width: 100%;

			td {
				&:hover {
					background: #999 !important;
				}

				&.active {
					background: #7eb917 !important;

					i {
						bottom: -20px;
						left: 50%;
						margin-left: -50px;
						width: 100px;
						display: block;
						text-align: center;
						white-space: nowrap;
					}
				}

				i {
					display: none;
					font-style: normal;
					position: absolute;
					text-transform: uppercase;
				}
			}
		}

		td.ls-popup-preview,
		th.ls-popup-preview {
			width: 250px !important;
			border-right: 1px solid #dedede;
		}

		td.ls-popup-preview {
			text-align: center;
			vertical-align: bottom;
			padding-bottom: 10px;

			.ls-layout-illustration {
				margin-left: auto;
				margin-right: auto;
			}
		}

		.right {
			text-align: right;
			border-left: 1px solid #dedede;
		}

		td.ls-popup-layout {
			text-align: center;
			vertical-align: bottom;
			padding: 0;

			div {

				a, button {
					display: inline-block;
					margin: 15px 10px;
				}
			}

			table td {
				width: auto !important;
				padding: 0;
				height: 30px;

				table td {
					border-top: 1px solid #dedede;
					padding: 4px;

					&:last-child {
						text-align: left !important;
						white-space: nowrap;

						input {
							width: 70px !important;
							text-align: left;
						}

						a {
							margin: 0;
						}
					}
				}
			}
		}
	}
}


.table-holder .ls-premium a.dashicons {
	left: -5px;
}

.ls-settings-sidebar {

	width: 230px;
	min-height: 420px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	border-right: 1px solid #e3e3e3;
	margin: 0;
	background: darken(white, 3%);

	li {
		height: 40px;
		position: relative;
		margin: 0;
		border-bottom: 1px solid #e3e3e3;
		line-height: 40px;
		cursor: pointer;
		font-size: 13px;
		text-transform: uppercase;
		color: #444;

		i {
			line-height: inherit;
			padding: 0 5px;
			transition: none;
			-webkit-transition: none;
		}

		strong {
			display: inline-block;
			max-width: 180px;
			font-weight: normal;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 12px;
		}

		small {
			display: inline !important;
			width: auto !important;
			float: none !important;
			position: relative;
			top: -5px;
			left: 5px;
			color: red;
			text-shadow: none;
		}

		.dashicons-lock {
			position: absolute;
			top: 10px;
			right: 20px;
			color: #999;
		}

		&.locked {

		}

		&.active {
			color: white;
			text-shadow: 1px 1px 1px #666;
			background: #8c8c8c;

			&:after {
				content: ' ';
				display: block;
				width: 28px;
				height: 28px;
				position: absolute;
				top: 6px;
				right: -14px;
				opacity: 1;
				background: #8c8c8c;
				@include transform(rotate(45deg));
			}

			.dashicons-lock {
				color: white;
			}
		}
	}
}

.ls-publish-checkbox {
	float: left;
	margin-right: 10px;
}

.ls-datepicker-wrapper {
	position: relative;
	width: 252px;
	margin: 0 auto;
}

.ls-datepicker-label {
	display: inline-block;
	margin: 15px 5px 0 -100px;
}

.ls-datepicker-input {
	width: 250px !important;
	height: 50px;
	margin: 0px 0 25px 0;
	font-size: 20px;
	border: 0 !important;
	border-bottom: 2px solid #ccc !important;
	border-radius: 0 !important;
	font-family: 'Open Sans', arial, sans-serif !important;
	text-align: center;
}

.ls-slider-settings .datepicker-inline {
	margin: 10px auto 20px auto;

	.ls-datepicker {
		margin: 0 auto;
	}

	span {
		font-weight: normal;
	}
}

.ls-schedule-desc {
	display: inline-block;

	span {
		display: inline-block;
		margin-top: 20px;
		color: red;
	}

	ul {
		padding-left: 20px;
		list-style-type: square;

		li {
			margin-bottom: 3px;

			i {
				display: inline-block;
				margin: 3px 0 10px 0;
			    background: #e1e1e1;
			    border-radius: 3px;
			    padding: 0px 4px;
			}
		}
	}
}

.datepicker--cell,
.datepicker--button,
.datepicker--nav {
	height: 26px !important;
	min-height: 26px !important;
}

.ls-slider-dimensions div {
	position: relative;
	width: 120px;
	margin: 15px;
	background: transparent no-repeat 0 0;
	float: left;
	cursor: pointer;
	text-align: center;

	&:first-child {
		margin-left: 25px;
	}

	img {
		width: 100%;
	}

	span {
		display: inline-block;
		margin-top: 5px;
		padding: 0 10px;
		line-height: 20px;
		border-radius: 10px;
		background-color: transparent;
		@include transition(all, 300ms);
	}

	&.active span {
		background-color: #7eb917;
		color: #fff;
	}

	&.locked {
		cursor: default;

		img {
			opacity: 0.3;
		}

		.dashicons-lock {
			position: absolute;
			top: 37px;
			left: 50%;
			display: block;
			width: 30px;
			height: 30px;
			margin: -15px 0 0 -15px;
			text-align: center;
			font-size: 32px;
			color: #666;
		}
	}
}

#ls-more-slide-options {
	display: block;
	position: relative;
	width: 240px;
	height: 50px;
	margin: 20px auto;
	text-align: center;
	color: #444;
	cursor: pointer;

	&:hover {
		color: #666;
	}

	strong {
		display: block;
		font-size: 15px;
		line-height: 47px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-weight: 400 !important;
		color: #333;

		&:first-child {

			line-height: 35px;
		}

		&:last-child { display: none; }

			small {
				position: absolute;
				left: 0px;
				top: 17px;
				width: 100%;
				text-transform: none !important;
				letter-spacing: 0 !important;
				font-size: 11px !important;
			}
	}

	&.ls-opened {
		strong:first-child {
			display: none;
		}
		strong:last-child { display: block; }
	}

	box-shadow: none !important;
	-webkit-box-shadwo: none !important;
	transform: none !important;
}