.ls-notification-info {
  margin-top: 25px;
  color: white;
  background-color: #00b4ff;
  font-size: 14px; }
  .ls-notification-info.success {
    background: #49da33;
    border-color: #49da33; }
  .ls-notification-info .dashicons {
    color: white; }

.ls-addon-item {
  position: relative;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  margin: 0 30px 30px 0;
  float: left;
  background-color: #e6e6e6;
  border-radius: 5px;
  overflow: hidden; }
  .ls-addon-item:hover .ls-addon-bg {
    transform: scale(1.05); }
  .ls-addon-item:hover .ls-addon-bg {
    filter: hue-rotate(20deg) saturate(130%); }

.ls-addon-title {
  height: 70px;
  margin: 0;
  padding: 0 20px;
  line-height: 80px;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85); }

.ls-addon-body {
  padding: 0px 20px;
  text-align: justify;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85); }

.ls-addon-footer {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  text-align: center; }
  .ls-addon-footer .button {
    border-radius: 30px;
    padding: 0 30px;
    border: 0;
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    text-shadow: none;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25); }

.ls-addon-title,
.ls-addon-body,
.ls-addon-footer {
  position: relative;
  z-index: 10; }

.ls-addon-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 5px;
  z-index: 1;
  transition: all 1.5s ease-in-out; }

.ls-addon-extras, .ls-addon-extras div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: cover; }

.ls-addon-extras {
  z-index: 99999; }

.ls-addon-light .ls-addon-title {
  color: white; }

.ls-addon-light .ls-addon-body {
  color: white; }

#ls-addon-templates .ls-addon-bg {
  background-image: url(../img/ao-tpl.jpg); }

#ls-addon-templates .button {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75); }

#ls-addon-popups .ls-addon-bg {
  background-image: url(../img/ao-pop.jpg); }

#ls-addon-revisions .ls-addon-bg {
  background-image: url(../img/ao-rev.jpg); }

#ls-addon-origami .ls-addon-bg {
  background-image: url(../img/ao-ori.jpg); }

#ls-addon-play-by-scroll .ls-addon-bg {
  background-image: url(../img/ao-pbs.jpg); }

#ls-addon-blend-mode .ls-addon-bg {
  background-image: url(../img/ao-bm.jpg); }

#ls-addon-blend-mode .ls-addon-extras {
  background: white;
  mix-blend-mode: multiply; }

#ls-addon-blend-mode .ls-addon-e1 {
  background-image: url(../img/ao-bm-text.png); }

@-webkit-keyframes ls-addon-extras {
  0% {
    transform: translateX(-20px); }
  50% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-20px); } }

@-moz-keyframes ls-addon-extras {
  0% {
    transform: translateX(-20px); }
  50% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-20px); } }

@-o-keyframes ls-addon-extras {
  0% {
    transform: translateX(-20px); }
  50% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-20px); } }

@keyframes ls-addon-extras {
  0% {
    transform: translateX(-20px); }
  50% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-20px); } }

#ls-addon-blend-mode .ls-addon-e2 {
  transform: translateX(-20px);
  background-image: url(../img/ao-bm-blend.jpg);
  mix-blend-mode: lighten; }

#ls-addon-blend-mode .ls-addon-e2 {
  -webkit-animation: ls-addon-extras 5s infinite;
  moz-animation: ls-addon-extras 5s infinite;
  -o-animation: ls-addon-extras 5s infinite;
  animation: ls-addon-extras 5s infinite; }

#ls-addon-filters .ls-addon-bg {
  background-image: url(../img/ao-fil.jpg); }
