.ls-plugin-update-row td {
  position: relative;
  top: -1px; }

/**************************************************/
/*                   N O T I C E                  */
/**************************************************/
.ls-plugins-screen-notice:before {
  font-family: dashicons !important;
  content: "\f153" !important; }

.layerslider_notice {
  margin: 0px 15px 5px 0px;
  padding: 19px 0px;
  background: none;
  border: none;
  border-bottom: 1px dotted #ccc; }

.layerslider_notice img {
  margin-right: 15px;
  float: left; }

.layerslider_notice h1 {
  margin: -4px 0px 7px 0px;
  font: normal normal normal 24px/26px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.layerslider_notice p {
  margin: 0px;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  padding-right: 220px;
  position: relative; }

.layerslider_notice p i {
  color: #999;
  font-size: 13px; }

.layerslider_notice a.button,
.layerslider_notice a.notice-dismiss {
  position: absolute;
  right: 1px;
  top: 0;
  text-decoration: none; }

/**************************************************/
/*                   L O G O                      */
/**************************************************/
.layerslider-logo {
  position: relative; }
  .layerslider-logo .layerslider-logo-setheight {
    padding-bottom: 100%; }
  .layerslider-logo .layerslider-logo-layer {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    width: 90%;
    height: 90%;
    -webkit-transform: rotateX(60deg) rotate(45deg);
    -moz-transform: rotateX(60deg) rotate(45deg);
    transform: rotateX(60deg) rotate(45deg);
    z-index: 3;
    opacity: 1; }
    .layerslider-logo .layerslider-logo-layer .layerslider-logo-inner {
      background: #ccc;
      border-radius: 20%;
      padding: 10%;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -60%;
      margin-top: -60%; }
      .layerslider-logo .layerslider-logo-layer .layerslider-logo-inner .layerslider-logo-color {
        position: absolute;
        width: 80%;
        height: 80%;
        border-radius: 15%;
        left: 50%;
        top: 50%;
        margin-left: -40%;
        margin-top: -40%; }
    .layerslider-logo .layerslider-logo-layer:nth-child(2) {
      top: 40%;
      left: 50%;
      margin-left: -40%;
      width: 70%;
      height: 70%;
      z-index: 2; }
      .layerslider-logo .layerslider-logo-layer:nth-child(2) .layerslider-logo-inner {
        background: #aaa; }
    .layerslider-logo .layerslider-logo-layer:nth-child(3) {
      top: 68%;
      left: 50%;
      margin-left: -35%;
      width: 60%;
      height: 60%;
      z-index: 1; }
      .layerslider-logo .layerslider-logo-layer:nth-child(3) .layerslider-logo-inner {
        background: #888; }

.layerslider-logo-animated .layerslider-logo-layer {
  -webkit-animation: layerslider-logo 1s infinite;
  -moz-animation: layerslider-logo 1s infinite;
  animation: layerslider-logo 1s infinite;
  -webkit-animation-delay: -.85s;
  -moz-animation-delay: -.85s;
  animation-delay: -.85s; }
  .layerslider-logo-animated .layerslider-logo-layer:nth-child(2) {
    -webkit-animation-delay: -.7s;
    -moz-animation-delay: -.7s;
    animation-delay: -.7s; }
  .layerslider-logo-animated .layerslider-logo-layer:nth-child(3) {
    -webkit-animation-delay: -.55s;
    -moz-animation-delay: -.55s;
    animation-delay: -.55s; }

@-webkit-keyframes layerslider-logo {
  0% {
    -webkit-transform: rotateX(60deg) rotate(45deg); }
  100%,
  70% {
    -webkit-transform: rotateX(60deg) rotate(135deg); } }

@-moz-keyframes layerslider-logo {
  0% {
    -moz-transform: rotateX(60deg) rotate(45deg); }
  100%,
  70% {
    -moz-transform: rotateX(60deg) rotate(135deg); } }

@keyframes layerslider-logo {
  0% {
    transform: rotateX(60deg) rotate(45deg); }
  100%,
  70% {
    transform: rotateX(60deg) rotate(135deg); } }

/**************************************************/
/*                   N O T I C E                  */
/**************************************************/
.mce_layerslider_button,
.mce-i-layerslider_button {
  font: 400 20px/1 dashicons !important;
  padding: 0;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -2px;
  padding-right: 2px; }

span.mce_layerslider_button:before,
.mce-i-layerslider_button:before {
  content: "\f233"; }

.mce-layerslider-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 159900;
  background: #000;
  opacity: 0.7; }

.mce-layerslider-window {
  position: fixed;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  z-index: 160000;
  background: white; }
  .mce-layerslider-window .close-modal {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 0;
    right: 0;
    border-left: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
    color: #666; }
    .mce-layerslider-window .close-modal:hover {
      color: #00a0d2; }
    .mce-layerslider-window .close-modal:before {
      content: "\f158";
      font: 400 20px/1 dashicons;
      line-height: 52px;
      -webkit-font-smoothing: antialiased; }
  .mce-layerslider-window .header {
    margin: 0;
    padding: 0 0 0 15px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    line-height: 50px;
    font-weight: 600;
    color: #23282d; }
  .mce-layerslider-window .inner {
    position: absolute;
    top: 51px;
    bottom: 61px;
    left: 0;
    right: 0;
    padding: 30px;
    background: #f3f3f3;
    overflow: auto; }
  .mce-layerslider-window .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 61px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    padding: 15px 16px 0 16px; }
    .mce-layerslider-window .footer .options {
      float: left; }
      .mce-layerslider-window .footer .options strong {
        margin-right: 50px; }
      .mce-layerslider-window .footer .options input {
        width: 110px;
        border-radius: 3px; }
    .mce-layerslider-window .footer button {
      float: right;
      margin: 0 0 0 10px; }
  .mce-layerslider-window .slider-item {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 150px;
    outline: 1px solid #f3f3f3;
    border: 5px solid transparent;
    margin: 0 14px 10px 0;
    text-align: left;
    cursor: pointer; }
    .mce-layerslider-window .slider-item .selection {
      display: none; }
    .mce-layerslider-window .slider-item .no-preview {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: #666; }
      .mce-layerslider-window .slider-item .no-preview h5 {
        margin: 35px 0 5px 0;
        font-size: 18px; }
      .mce-layerslider-window .slider-item .no-preview small {
        display: block;
        padding: 0 12px;
        font-size: 12px;
        line-height: 14px; }
    .mce-layerslider-window .slider-item.selected {
      border-color: #0073aa; }
      .mce-layerslider-window .slider-item.selected .selection {
        display: block;
        position: absolute;
        z-index: 10;
        top: -12px;
        right: -12px;
        border: 1px solid #0073aa; }
        .mce-layerslider-window .slider-item.selected .selection .dashicons {
          width: 24px;
          height: 24px;
          color: white;
          border: 1px solid #fff;
          background: #0073aa;
          font-size: 24px;
          line-height: 24px;
          text-align: center; }
  .mce-layerslider-window .slider-item-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    outline: 1px solid #f3f3f3; }
    .mce-layerslider-window .slider-item-wrapper .preview {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: top center;
      overflow: hidden;
      background-color: #f3f3f3;
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .mce-layerslider-window .slider-item-wrapper .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 26px;
      padding: 0 5px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      color: rgba(255, 255, 255, 0.8);
      line-height: 26px;
      overflow: hidden;
      transition: opacity 0.2s; }
      .mce-layerslider-window .slider-item-wrapper .info .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
