.ls-plugin-settings-tabs {
  margin-top: 40px; }

.ls-plugin-settings {
  clear: both;
  top: -1px;
  margin: 0 !important; }

.ls-plugin-settings figure {
  margin: 0;
  padding: 0 0 0 10px;
  border-top: 0px;
  border-bottom: 1px solid #dfdfdf;
  background: #F1F1F1 !important;
  line-height: 29px;
  color: #999;
  font-size: 12px;
  text-shadow: 1px 1px 1px white; }

.ls-plugin-settings .ls-box {
  margin: 0 !important;
  padding: 0;
  border: 0; }

#ls-permission-form .inner {
  padding: 20px;
  text-align: center;
  font-size: 13px; }

#ls-permission-form i {
  margin: 0 20px; }

#ls-permission-form td:first-child {
  width: 130px;
  text-align: right; }

#ls-permission-form input, #ls-permission-form select {
  width: 200px;
  border-radius: 3px; }

#ls-permission-form p {
  margin-bottom: 0; }

.ls-subpage-link {
  position: relative;
  display: block;
  padding-left: 20px;
  margin-top: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: #f1f1f1;
  text-decoration: none;
  line-height: 50px;
  font-size: 16px;
  color: #333; }
  .ls-subpage-link small {
    position: absolute;
    left: 230px;
    top: 0;
    bottom: 0;
    font-size: 14px;
    color: #8c8c8c;
    border-left: 1px solid #dfdfdf;
    padding-left: 20px; }
  .ls-subpage-link .dashicons {
    position: absolute;
    right: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 26px; }

.ls-global-settings .inner {
  padding: 0; }

.ls-global-settings span.warning {
  float: right;
  margin: 0 5px;
  color: red;
  font-weight: 600; }

.ls-global-settings thead {
  color: #444; }

.ls-global-settings tbody td:first-child {
  width: 230px;
  text-align: right; }

.ls-global-settings input {
  width: 58px;
  border-radius: 3px;
  border: 1px solid #dedede; }

.ls-global-settings .ls-checkbox {
  margin: 0 10px; }

.ls-global-settings td.desc {
  font-size: 12px; }

.ls-global-settings .ls-cache-options td:last-child {
  padding-right: 105px; }

.ls-global-settings .ls-cache-options .button-small {
  position: absolute;
  top: 8px;
  right: 8px;
  box-shadow: none !important; }

.ls-font-search {
  padding: 0 !important;
  margin: -9px 0 10px 24px; }
  .ls-font-search input {
    width: 260px;
    height: 27px;
    margin: 0 5px 0 10px;
    font-size: 12px;
    border-radius: 2px;
    line-height: 17px; }

.ls-font-search .ls-pointer {
  display: none;
  opacity: 0;
  position: absolute;
  left: 30px;
  width: 280px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px #666; }
  .ls-font-search .ls-pointer:before {
    box-shadow: 0px 0px 10px #666; }
  .ls-font-search .ls-pointer .fonts h4 {
    padding-top: 10px;
    font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center; }
  .ls-font-search .ls-pointer .variants {
    display: none; }
    .ls-font-search .ls-pointer .variants .ls-checkbox {
      margin: 0 10px -3px 10px; }
  .ls-font-search .ls-pointer .inner div {
    text-align: center; }

ul.ls-font-list {
  margin: 0;
  padding: 0; }
  ul.ls-font-list .ls-notice {
    margin: 10px 10px 20px 10px;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 16px; }
  ul.ls-font-list input {
    width: 500px;
    border-radius: 3px; }
    ul.ls-font-list input[readonly] {
      background-color: white; }
  ul.ls-font-list .ls-checkbox {
    margin: 0 10px -3px 10px; }
  ul.ls-font-list a.remove {
    color: #DF3A36;
    font-size: 16px;
    margin-top: 6px; }

.ls-google-fonts .footer .right {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  height: 45px;
  line-height: 25px; }

.ls-google-fonts .footer .right div,
.ls-google-fonts .footer .right ul {
  float: right; }

.ls-google-fonts .footer select {
  height: 24px;
  margin-top: -2px; }

.ls-google-font-scripts {
  margin: 0 10px;
  padding-right: 10px;
  border-right: 1px solid #dedede; }

.ls-google-font-scripts li {
  display: inline-block;
  height: 23px;
  padding: 0 0 0 22px;
  margin: 0 15px 0 0;
  float: left;
  background: url(../img/tag.png) no-repeat left top;
  cursor: pointer; }

.ls-google-font-scripts li span {
  padding: 0 25px 0 0;
  margin: 0 -20px 0 0;
  background: url(../img/tag.png) no-repeat right top;
  font: normal normal normal 13px/23px Arial, sans-serif;
  color: #996633;
  text-shadow: 0px 1px 1px #ffeac1;
  float: left; }

.ls-google-font-scripts li a {
  display: block;
  width: 13px;
  height: 13px;
  margin-top: 4px;
  float: left;
  color: #A7753A;
  text-decoration: none;
  font-size: 16px; }

.ls-system-status span {
  color: #e14d43; }
  .ls-system-status span.dashicons-yes {
    color: #76b546; }

.ls-system-status .ls-link {
  display: block;
  margin-top: 30px;
  text-align: center;
  font-size: 16px; }

.ls-system-status .inner p {
  max-width: 900px;
  margin: 20px auto 30px auto;
  text-align: center; }

.ls-system-status .ls-info td span {
  color: #00a6e2; }

.ls-system-status .ls-info td:last-child span {
  color: inherit; }

.ls-system-status .ls-warning td span {
  color: #ef9f0d; }

.ls-system-status .ls-box {
  margin-bottom: 20px; }

.ls-system-status th {
  background: #f1f1f1; }

.ls-system-status td {
  background: #fdfdfd;
  padding: 1px 4px !important;
  font-size: 12px !important; }

.ls-system-status td:first-child {
  width: 190px;
  text-align: right;
  padding-right: 15px !important; }

.ls-system-status td:nth-child(2) {
  width: 10px;
  padding-right: 0 !important; }

.ls-system-status td:nth-child(3) {
  width: 130px; }

.ls-system-status table mark {
  display: inline-block;
  background: #e9e9e9;
  margin: 1px;
  padding: 0 3px;
  color: #555;
  border-radius: 2px; }

.ls-system-status td.has-button div {
  min-height: 30px;
  position: relative; }

.ls-system-status td.has-button span {
  display: block;
  margin-right: 150px; }

.ls-system-status td.has-button .button {
  position: absolute;
  top: 3px;
  right: 0px; }

.button.ls-erase-button {
  float: right; }

.button.ls-erase-button,
#ls-erase-modal-window .button {
  background: #e14d43 !important;
  border-color: #d02c21 #ba281e #ba281e !important;
  color: #fff !important;
  -webkit-box-shadow: 0 1px 0 #ba281e !important;
  box-shadow: 0 1px 0 #ba281e !important;
  text-shadow: 0 -1px 1px #ba281e,1px 0 1px #ba281e,0 1px 1px #ba281e,-1px 0 1px #ba281e !important; }
  .button.ls-erase-button.disabled,
  #ls-erase-modal-window .button.disabled {
    color: #d1c8c7 !important;
    background: #d92e23 !important;
    border-color: #ba281e !important;
    text-shadow: none !important; }

#ls-erase-modal-window i.ls-notice {
  position: absolute;
  bottom: 16px;
  right: 15px;
  width: 350px;
  color: #E14D43; }

#ls-erase-modal-window {
  height: 550px;
  margin-top: -275px; }

.ls-system-status-actions {
  margin-top: 50px; }
