.ls-notification {
  padding: 10px 10px 10px 40px !important;
  width: 80%;
  max-width: 800px;
  box-sizing: border-box; }
  .ls-notification .dashicons {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 24px; }

.ls-notification-info {
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
  margin: 20px auto 45px auto;
  border-radius: 5px;
  color: #fff !important;
  background-color: #00b4ff;
  line-height: 18px;
  text-align: left; }
  .ls-notification-info .dashicons {
    font-size: 24px;
    color: #fff !important; }
  .ls-notification-info a {
    padding: 0 5px;
    border-radius: 3px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    color: #fff; }

#ls-revisions .ls-revisions-h2 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  margin-top: 50px;
  padding: 9px 0 4px;
  line-height: 29px; }

#ls-revisions-welcome h1 {
  width: 80%;
  max-width: 900px;
  margin: 50px auto 20px auto;
  text-align: center;
  font-size: 40px;
  line-height: normal; }

#ls-revisions-welcome p {
  width: 80%;
  max-width: 800px;
  margin: 0px auto 50px auto;
  text-align: center;
  font-size: 15px; }

#ls-revisions-welcome a {
  white-space: nowrap; }

#ls-revisions-welcome .ls-revisions-more-info {
  margin-left: 50px; }

#ls-revisions-welcome .center {
  text-align: center; }

#ls-revisions-welcome div.center {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25); }

#ls-revisions-welcome img {
  width: 250px; }

#ls-revisions-welcome video {
  border-radius: 10px; }

#ls-revisions-modal-window .ls-checkbox {
  margin-right: 10px; }

#ls-revisions-modal-window div {
  text-align: left; }

#ls-revisions-modal-window h2 {
  margin: 50px 0 10px 0;
  font-size: 18px;
  font-weight: 400;
  color: #555 !important; }

#ls-revisions-modal-window input {
  width: 60px;
  margin: 0 5px;
  border-radius: 3px; }

#ls-revisions-modal-window button {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 300px;
  margin-left: -150px !important; }

#ls-revisions-modal-window .ls-notification-info {
  box-sizing: border-box;
  width: 100%;
  text-align: justify; }

#ls-revisions-form {
  position: relative;
  padding-top: 60px; }

.ls-revisions-oldest {
  position: absolute;
  top: 28px;
  left: 0; }

.ls-revisions-now {
  position: absolute;
  top: 28px;
  right: 0; }

#ls-revisions-selected {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 500px;
  margin-left: -250px; }
  #ls-revisions-selected table {
    float: left;
    margin: 0 auto; }
  #ls-revisions-selected td {
    padding: 0; }
  #ls-revisions-selected td.avatar {
    width: 28px;
    text-align: right; }
  #ls-revisions-selected img {
    width: 32px;
    margin-right: 10px;
    float: left; }
  #ls-revisions-selected .author {
    display: inline-block;
    max-width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top; }
  #ls-revisions-selected .date {
    color: #999; }
  #ls-revisions-selected button {
    float: right;
    height: 36px;
    margin-top: 2px;
    padding: 0 20px;
    line-height: 34px; }

#ls-revisions-range {
  width: 100%;
  margin-top: 5px; }

#ls-slider-form {
  padding-top: 10px; }

#slider-editor-toolbar {
  text-align: center; }
  #slider-editor-toolbar td {
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #f1f1f1 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #f1f1f1 0%, #fff 100%);
    background: linear-gradient(to bottom, #f1f1f1 0%, #fff 100%); }
  #slider-editor-toolbar .ls-editor-zoom, #slider-editor-toolbar .ls-editor-preview, #slider-editor-toolbar .ls-editor-layouts {
    width: auto;
    float: none;
    display: inline-block; }

.ls-preview-button {
  width: 120px !important;
  border-radius: 3px !important; }

.ls-preview-td {
  padding: 0 !important; }

.ls-ruler-x, .ls-ruler-y {
  display: none; }

.ls-layer-box {
  border-top: 0; }

.ui-resizable {
  display: none !important; }

#ls-preview-layers .disabled {
  cursor: default !important; }

#ls-preview-layers * {
  pointer-events: none !important; }

.ui-selectable-helper {
  display: none !important; }

#ls-layer-tabs {
  z-index: 99999; }

#ls-layer-tabs .dashicons-dismiss {
  display: none !important; }
